################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Academy2022.AutomationTesting.Api/v17/.suo
